.header {
    width : 100%;
    cursor : pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgb(31, 136, 241);
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 5px 5px rgb(165, 164, 161);
    color: rgb(256,256,256);
    z-index: 100;
}

@media (max-width : 1000px) { 
    .header {
        font-size: 5.5vh;
    }
}